body{
  justify-content: center;
  text-align: center;
  background-color: yellow;
}
.flex-center{
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.titre{
  height: 100px;
  background-color: crimson;
  color: white;
  padding-top: 5px;
}
p{
  color: grey;
  font-size: 1.3em;
}
